* { box-sizing: border-box; }

.clear {clear: both;}

img {
	max-width: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 900px;
    background-size: cover;
    overflow-y: auto;
}

body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    background-color: #FFFFFF;
    color: #556970;
    margin: 0;
}

/* ---- NAVIGATION ---- */
.slicknav_menu {
	display:none;
}

#mobile-menu {
    float: right;
}


#logo-container, #mobile-menu {
	width: 18%;
    padding: 0 0.5%;
	margin: 0 0.5%;
}

#mobile-menu {
	width: 22%;
}

#logo {
	float: left;
    max-width: 9.375em;
}

#logo a {
	text-decoration: none;
}

nav {
    height: 100px;
}

nav #menu li {
	display: inline-block;
	list-style-type: none;
    width: 22%;
	padding: 0.5% 0.5% 0 0;
	margin: 0 1.5%;
    text-align: center;
    float: left;
    font-size: 1.2em;
}	

nav #menu li a {
	text-decoration: none;
	padding: .5em .5em;
	color: #3EA6AC;
}

/* ----INDEX---- */
#index {
	margin-top: 3em;
    width: 100%;
    min-height: 600px;
    max-height: 800px;
    background: url("../images/background.jpg") no-repeat center center fixed;
}

#index-main {
    width: 60%;
    margin: 8em auto;
    padding: 1em;
    -webkit-border-radius: .5em;
    border-radius: .5em; 
    background-color: rgba(197, 211, 118, 0.2);
}


/* ----WORK---- */
.flex-images {
    width: 100%;
    margin: auto;
}


/* ----ABOUT---- */
#about-main {
    width: 60%;
    margin: 3em auto;
    padding: 1em;
    -webkit-border-radius: .5em;
    border-radius: .5em; 
    background-color: rgba(97, 135, 137, 0.3);
}
.col {
    width: 31.25%; /* 300/960 */
	margin: .52083333%; /* 5/960 */
	padding: 1.0869565%; /* 5/460 */
	-webkit-border-radius: 0.625em;
	-moz-border-radius: 0.625em;
	border-radius: 0.625em;
	float: left;
	line-height: 150%;
	background-color: rgba(255, 255, 255, 0.75);
}

.col img {
    display: block;
    margin: auto;
}


/* ---- CONTACT ---- */
#contact-bkg {
    margin-top: 3em;
    width: 100%;
    min-height: 600px;
    max-height: 800px;
    background: url("../images/3sided_logo2.png") no-repeat center center fixed;
}

#contact-form {
    width: 50%;
    float: left;
    margin: 3em auto;
    padding: 1em;
    -webkit-border-radius: .5em;
    border-radius: .5em; 
   /* background-color: rgba(97, 135, 137, 0.3);*/
}

#contact-form h2 {
    text-align: center;
}

input, label { 
    display: block; 
}

label, legend, fieldset {
	padding: 0;
}

.formblock { 
	margin-top: 1em;
    margin-left: 35%;
	clear: both;
}

input[type=text],
input[type=email],
textarea {
	width: 50%;
    -webkit-border-radius: .5em;
    border-radius: .5em; 
}

input[type=text],
input[type=email],
textarea:focus {
	outline-color: #62A7B5;	
}


button[type=submit] {
    margin-top: 0.5em;
    font-size: 100%;
    padding:0.5em; 
    background:#62A7B5; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: .5em;
    border-radius: .5em; 
    color: #E8EDED;
}

button[type=submit]:focus { 
    background:#c5d376; 
    outline:0;
}

.validator-error {
    color: red;
    font-size: 0.75em;
}

.error {
    background-color: #F2F7D5;
}


/* ---- FOOTER ---- */

footer {
    position: fixed;
    height: 80px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(219, 219, 219, 1);
}

footer p {
    text-align: center;
    padding-top: 1em;
}


/* ---- MEDIA QUERIES ---- */


@media screen and (max-width:1150px) { 
     .formblock { 
        margin-left: 25%;
    }
    
    .form {
        width: 70%;
    }
    
    input[type=text],
    input[type=email],
    textarea {
        width: 60%;
    }

    #index-main {
        width: 70%;
    }
    
    #about-main {
        width: 70%;
    }
}

@media screen and (max-width:925px) {
    #about-main {
        width: 80%;
    }
    
    .col {
        width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    	margin-top: 2em;
    	margin-bottom: 2em;
    	padding: .5em; 
    }
}

@media screen and (max-width:800px) {
    .formblock { 
        margin-left: 15%;
    }
    
    .form {
        width: 80%;
    }
    
    input[type=text],
    input[type=email],
    textarea {
        width: 80%;
    }
    
    h1, h2, h3, p {
        font-size: 1.2em;
    }
    
    #index-main {
        margin: 12em auto;
    }
}

@media screen and (max-width:580px) {
    #menu {
		display: none;
	}

	.slicknav_menu {
		display: block;
		background: none;
	}
	
	.slicknav_menutxt{
	    color: #353634;
	}
	
	.slicknav_nav a {
	    color: #3EA6AC;
        padding: .25em .1em;
        float: right;
        margin: 0em 1.1em 0.2em 0em;
	}
    
    .slicknav_nav a:hover {
      background: rgba(97, 135, 137, 0.3);
      color: #353634; 
    }
    
    .slicknav_btn {
      margin-right: 1em;
      text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
      background-color: #62A7B5;
    }
    
    #index-main {
        width: 90%;
    }
    
    #about-main {
        width: 90%;
    }
    
    .col {
        width: 90%;
    	margin-left: 5%;
    	margin-right: 5%;
    	margin-top: 1.5em;
    	margin-bottom: 1.5em;
    	padding: .25em; 
    }
      
    footer {
        height: 50px;
    }
    
    footer p {
        padding-top: 0.25em;
    }
    
    #contact-form {
        width: 70%;
        margin: 1.5em auto;        
    }
    
    .formblock { 
        margin-left: 10%;
    }
    
    input[type=text],
    input[type=email],
    textarea {
        width: 90%;
    }
    
}

@media screen and (max-width:500px) {
    .slicknav_nav {
        font-size: 0.8em;
    }
    
    #contact-form {
        width: 80%;
        margin: 1.75em auto;        
    }
    
    .formblock { 
        margin-left: 15%;
    }
    
    input[type=text],
    input[type=email],
    textarea {
        width: 80%;
    }
    
    #index-main {
        margin: 2em auto;
    }
    
}

@media screen and (max-width:400px) {
    #logo {
        max-width: 8em;
    }
    
    .slicknav_nav a {
        float: right;
        font-size: 0.8em;
        margin: 0em 1em 0.2em 0em;
	}
    
    #index {
        max-height: 1000px;
    }
    
    #index-main {
        padding: 0.5em;
    }
    
    h1, h2, h3, p {
        font-size: 1.1em;
    }
    
    #about-main {
        margin: 2em auto;
        padding: .5em;
    }

    #contact-form {
        width: 90%;
        margin: 2em auto;        
    }    
    
   .formblock { 
        margin-left: 10%;
    }
    
    .form {
        width: 90%;
    }
    
    input[type=text],
    input[type=email],
    textarea {
        width: 90%;
    }    
}

@media screen and (max-width:340px) {
    
    #contact-form {
        width: 92%;
        margin: 1em auto;        
    }
    
   .formblock { 
        margin-left: 2%;
    }
    
    .form {
        width: 95%;
    }
    
    input[type=text],
    input[type=email],
    textarea {
        width: 95%;
    }    
}

